.drop-down {
  .drop-down-value {
    height: 36px;
    width: 200px;
    border: 1px solid #858585;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .chevron {
    transition: transform 100ms;
    &.flipped {
      transform: scaleY(-1);
      transition: transform 100ms;
    }
  }
}
