<div class="drop-down">
  <div class="drop-down-value" #dropDownValue="cdkOverlayOrigin" cdkOverlayOrigin
       (click)="openDrawer = !openDrawer">
    <span *ngIf="value; else placeholderRef">{{value.label}}</span>
    <ng-template #placeholderRef>{{placeholder}}</ng-template>
    <span class="chevron" [class.flipped]="openDrawer">&#9660;</span>
  </div>
  <ng-template cdkConnectedOverlay
               [cdkConnectedOverlayOrigin]="dropDownValue"
               [cdkConnectedOverlayOpen]="openDrawer"
               [cdkConnectedOverlayWidth]="202"
               [cdkConnectedOverlayOffsetY]="-1"
               [cdkConnectedOverlayHasBackdrop]="true"
               [cdkConnectedOverlayPositions]="positions"
               (backdropClick)="openDrawer = false"
               cdkConnectedOverlayBackdropClass="drop-down-backdrop"
               cdkConnectedOverlayPanelClass="drop-down-drawer"
  >
    <ul class="drop-down-list">
      <li *ngFor="let item of items" (click)="select(item)">
        {{item.label}}
      </li>
    </ul>
  </ng-template>
</div>
