<section>
  <button (click)="openOverlay()">Open Modal</button>
</section>

<section>
  <app-drop-down placeholder="To jest przykład drop-down" [items]="items"></app-drop-down>
</section>

<section>
  <app-list></app-list>
</section>
