<cdk-virtual-scroll-viewport [itemSize]="30" class="scrolled-list">
  <div *cdkVirtualFor="let item of items;" class="scroll-item">
    {{item}}
  </div>
</cdk-virtual-scroll-viewport>
<input type="number" min="0" max="1000" [(ngModel)]="index">
<button (click)="scroll()">Scroll to</button>
