@import "~@angular/cdk/overlay-prebuilt.css";
section {
  padding: 20px;
}
.dark-backdrop {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%23040404' fill-opacity='0.07' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.modal-content {
  border: 1px solid #858585;
  background-color: #fff;
  padding: 10px;
}

.drop-down-drawer {
  border: 1px solid #858585;
  .drop-down-list {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    list-style-type: none;
    li {
      padding: 6px;
      display: block;
      width: 100%;
      box-sizing: border-box;
      &:hover {
        background-color: grey;
      }
    }
  }
}
